
<footer class="">
	<div class="row columns">
		<div class="nav-links">
			<ul class="">
			  <li><a href="#">Work</a></li>
			  <li><a href="#">About</a></li>
			  <li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
	<div class="row columns">
		<div class="small-12 columns copyright">
			<ul class="float-right">
				<li><a href="https://twitter.com/zbrug" target="_blank">Twitter</a></li>
				<li><a href="https://www.linkedin.com/in/zachbrugman" target="_blank">LinkedIn</a></li>
				<li><a href="https://www.behance.net/zbrug" target="_blank">Behance</a></li>
			</ul>
			<span class="float-left">&copy; Zach Brugman</span>
		</div>
	</div>
</footer>