
<div class="project-container medium-10 medium-offset-1 columns">
	<div class="medium-4 small-12 columns">
		<img src="https://placehold.it/300x300"/>
	</div>
	<div class="medium-8 small-12 columns">
		<h4>Awesome blog post title <small>3/6/2015</small></h4>
		<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
		<ul class="row columns">
			<li class="label secondary">Design Direction</li>
			<li class="label secondary">User Interface</li>
			<li class="label secondary">User Experience</li>
			<li class="label secondary">High Fidelity Prototypes (Axure)</li>
		</ul>
		<div class="row columns">
			<a class="button float-right">Read More...</a>
		</div>
	</div>
</div>



