
 
<!--<div class="callout large">
	<div class="row column text-center">
		<h1>Site Title</h1>
		<h2 class="subheader">Title Subheader</h2>
	</div>
</div>-->

<div class="feature">
	<div class="row column">
		<h3>Site Title</h3>
		<h4 class="subheader">Title Subheader</h4>
		{{> project_featured}}
	</div>
</div>

<div class="row other-work">
	<div class="large-12 columns">
		<h4 class="text-center">Other Recent Work</h4>
	
		{{> project_bww}}

		{{> project_ice}}

		{{> project_hosted}}

	</div>
</div>



